body {
  background-color: lemonchiffon;
}
#fotoğraflar {
  margin: -35px 250px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.on {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkgoldenrod;
  text-decoration: none;
}
#adresler {
  text-align: right;
  margin: 10px 250px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.two {
  color: black;
  text-decoration: none;
}

#bayram {
  width: 150px;
  height: 150px;
  margin: 90px 950px 10px 740px;
}

#site {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  border: 4px double #000;
}
.hadis1 {
  color: black;
  background-color: rgb(11, 138, 43);
  width: 450px;
  margin: 10px;
}
.hadis2 {
  background-color: rgb(11, 138, 43);
  width: 450px;
  margin: 10px;
}
.hadis3 {
  background-color: rgb(11, 138, 43);
  text-align: center;
  width: 450px;
  margin: -235px 740px 250px;
}
.hadis4 {
  background-color: rgb(11, 138, 43);
  width: 450px;
  margin: -232px 740px 250px;
}
.hadis5 {
  background-color: rgb(11, 138, 43);
  width: 450px;
  margin: -447px 1435px 250px;
}
.hadis6 {
  background-color: rgb(11, 138, 43);
  width: 450px;
  margin: -230px 1435px 250px;
}
